<div class="login-form-wrap">
  <form action="#">
    <label class="form-group">
      <span class="label-text">User name</span>
      <input type="text" id="userName" class="form-control" placeholder="User name">
    </label>
    <label class="form-group">
      <span class="label-text">User password</span>
      <input type="password" id="userPassword" class="form-control" placeholder="User password">
    </label>
    <div class="btn-holder">
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>