/* You can add global styles to this file, and also import other style files */
html, body,
.wrapper {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
}
body * {
    box-sizing: border-box;
}
.wrapper {
    display: table;
    width: 100%;
}
.table-container {
    display: table-row;
    height: 100%;
    width: 100%;
}
.table-row {
    display: table-row;
    width: 100%;
}